extends baseEmail 

block content
    p Hi #{firstName},
        p Thank you for initiating the password reset process. Click on the link below to reset password
        table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
                tr
                    td(align='left')
                        table(role='presentation', border='0', cellpadding='0', cellspacing='0')
                            tbody
                                tr
                                    td
                                        a(href=`${url}`, target='_blank') Upload user photo
        p If you need any help with booking your next tour, please don't hesitate to contact me!
        p - Rajan chouhan, CEO
